@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans+Condensed:300|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* SOURCES
TRANSITIONS : https://robots.thoughtbot.com/transitions-and-transforms
DOCUMENTATION BOOTSTRAP/CSS : https://devdocs.io
BACKGROUND GRADIENT : http://www.colorzilla.com/gradient-editor/
*/

body {
    font-family : 'Open Sans';
    background-attachment: fixed;
    background: -moz-linear-gradient(-45deg, rgba(26,38,39,0.92) 0%, rgba(26,38,39,0.92) 1%, rgba(26,38,39,0.95) 99%, rgba(26,38,39,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(26,38,39,0.92) 0%,rgba(26,38,39,0.92) 1%,rgba(26,38,39,0.95) 99%,rgba(26,38,39,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(26,38,39,0.92) 0%,rgba(26,38,39,0.92) 1%,rgba(26,38,39,0.95) 99%,rgba(26,38,39,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1a2627', endColorstr='#f21a2627',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


header {
    height: 10vh;
    background-color: #2C333A;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index: 50; /* Un peu abusé, mais je m'assure que le header passe devant tout, cf le problème de png */
}

header .btn {
    color: white;
    height: 100%;
    width: 10vw;
    /*min-width: 11em; /* à adapter pour le responsive */
    padding: 0em 0.7em;
    margin: 0em 1em;
    font-size: 10pt;
}

header p {
    font-size: 20pt;
    display:inline;
    font-family: 'Major mono display';
    color: white;
    font-weight: bold;
}

header a{
    display : inline;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

#un  {
    font-weight: 100;
}

/* fusionner en un lien sur le div! */
#lien_texte {
    align-self: center;
    margin-left: 1em;
}


#logoImg {
    height: 8vh;
}

#lienImg{
    align-self: center;
    margin-left: 0.7em;
}

#left_flex_container{
    align-self: center;
    margin-right: auto;
    display:flex;
}

header input{
    color: #2C333A;
    align-self: center;
    order: 1;
}

header .form-control {
    height: 5vh;
    width : 20vw;
    font-size: 10pt;
    transition: all 2s ease-in-out;
}

header .form-control:focus{
    width: 120%;
}

#recherche {
    order: 2;
    height: 6vh;
    align-self: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#recherche:hover{
    height: 8vh;
}


.btn {
    background-color: #2C333A;
    border: #2C333A;
}

.btn-group {
    display: none;
}


.btn:hover{
    background-color: #F48FB1;
}

#a_propos_txt{
    height: auto;
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 4em;
    border-bottom: 1px dashed grey;
}

#a_propos_txt h1 {
    font-weight: bold;
    margin-bottom: 0.8em;
}

#a_propos_txt p, ul li {
    text-align: justify;
    width: 40vw;
    margin: auto;
}

ul{
    margin: 1em 0em;
}

ul li{
    text-align: left;
}

#a_propos_img {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1.7em;
}

#a_propos div{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#a_propos_img img{
    height: 32vh;
    width: 32vh;
    border-radius: 50%;
}

#a_propos_img h3{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

body > h1{
    margin-top: -0.2em;
    margin-bottom: 1em;
    font-weight: bold;
}



footer {
    border-top: 1px dotted grey;
    color: grey;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    text-align: center;
	background-color :rgb(22, 28, 31);
    border-bottom: 1px dotted grey;
}

footer > div {
    width: 33%;
}

footer p span{
    font-weight: bold;
}

footer h3 {
    font-weight: bold;
    padding-bottom: 3%;
}

footer img {
    width: 65%;
    align-self: center;
}

#img_reseaux img {
    width: 3em;
    margin: 1em;
}

body:last-child {
    text-align: center;
    color : lightgray;
    
}


@media (max-width: 630px){
    body{
        width: 100vw;
    }
    header {
        position: fixed;
    }

    #lien_texte, header .btn{
        display: none;
    }

    #mobile_dropdown, .btn-group{
        display: block;
        margin-right: 0.5em;
        width: auto;
    }

    #recherche {
        margin-right: 0.1em;
    }

    #barre_recherche {
        width: 7.5em;
    }

    #a_propos_txt{
        flex-direction: column;
    }
    
    #a_propos_txt p, ul li {
        width: 87vw;
    }
    
    #a_propos_img {
        flex-direction: column;
    }
    
    #a_propos div{
        display: flex;
        flex-direction: column;
    }
    
    
    #a_propos_img h3{
        margin-bottom: 0.5em;
        margin-top: 1.5em;
    }
    
    body > h1{
        margin-top: 1.5em;
        margin-bottom: 0.3em;
    }


    footer {
        align-items: baseline;
    }
    
    
    footer h3 {
        margin-top: 2em;
        font-size: 1.3rem;
        padding-bottom: 3%;
    }
    
    footer img {
        display: none;
    }
    
    #img_reseaux img {
        display: initial;
        width: 2em;
        margin: 0.4em;
    }

    body:last-child {
        font-size: 1rem;
    }

}

