@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans+Condensed:300|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* SOURCES
TRANSITIONS : https://robots.thoughtbot.com/transitions-and-transforms
DOCUMENTATION BOOTSTRAP/CSS : https://devdocs.io
*/

body {
    font-family : 'Open Sans';
    background-color: rgba(28, 36, 39, 0.904);
}



header {
    height: 10vh;
    background-color: #2C333A;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index: 50; /* Un peu abusé, mais je m'assure que le header passe devant tout, cf le problème de png */
}

header .btn {
    color: white;
    height: 100%;
    width: 10vw;
    /*min-width: 11em; /* à adapter pour le responsive */
    padding: 0em 0.7em;
    margin: 0em 1em;
    font-size: 10pt;
}

header p {
    font-size: 20pt;
    display:inline;
    font-family: 'Major mono display';
    color: white;
    font-weight: bold;
}

header a{
    display : inline;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

#un  {
    font-weight: 100;
}

/* fusionner en un lien sur le div! */
#lien_texte {
    align-self: center;
    margin-left: 1em;
}


#logoImg {
    height: 8vh;
}

#lienImg{
    align-self: center;
    margin-left: 0.7em;
}

#left_flex_container{
    align-self: center;
    margin-right: auto;
    display:flex;
}

header input{
    color: #2C333A;
    align-self: center;
    order: 1;
}

header .form-control {
    height: 5vh;
    width : 20vw;
    font-size: 10pt;
    transition: all 2s ease-in-out;
}

header .form-control:focus{
    width: 120%;
}

#recherche {
    order: 2;
    height: 6vh;
    align-self: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#recherche:hover{
    height: 8vh;
}


.btn {
    background-color: #2C333A;
    border: #2C333A;
}

.btn-group {
    display: none;
}


.btn:hover{
    background-color: #F48FB1;
}

section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7vh;
}

section h1 {
    margin-top: 8%;
    margin-bottom: 4%;
}

#commande {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .btn{
    margin-top: 1em;
    margin-bottom: -1em;
    width: 10em;
    text-align: center;
    height: 3em;
}


table{
    background-color: #F48FB1;
    transition: all 2s ease-in-out;
}

table p {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: -0.1em;
}

td {
    padding: 1em 2em;
    border-top: solid 3px #2C333A;
    border-bottom: solid 3px #2C333A;
}

tr:hover{
    background-color: #2C333A;
}

#titre_commande:hover{
    background-color: #F48FB1;
}


th{
    font-size: 20pt;
    padding: 0.5em 2em;
    text-align: center;
}

tr :first-child{
    font-weight: bold;
}


form{
    margin: auto;
    background-color: rgba(244, 143, 177, 0.30);
    padding: 2rem;
    border-radius: 0em;
}

form h3{
    margin-top: 2rem;
}

form h4{
    margin-top: 1rem;
    font-size: 1.3rem;
}

form :first-child{
    margin-top: 0;
}

.form-control:focus{
    width: 100%;
}

form > label, #proprietaire > label { 
    float: left; 
    width: auto; 
    margin-right: 1em; 
    text-align: left;
    margin-top: 1em;
    display: block;
}

input {
    width: 5em;
}

textarea{
    display: block;
    width: 100%;
}



footer {
    border-top: 1px dotted grey;
    color: grey;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    text-align: center;
	background-color :rgb(22, 28, 31);
    border-bottom: 1px dotted grey;
}

footer > div {
    width: 33%;
}

footer p span{
    font-weight: bold;
}

footer h3 {
    font-weight: bold;
    padding-bottom: 3%;
}

footer img {
    width: 65%;
    align-self: center;
}

#img_reseaux img {
    width: 3em;
    margin: 1em;
}

body:last-child {
    text-align: center;
    color : lightgray;
    
}


@media (max-width: 630px){
    body{
        width: 100vw;
    }
    header {
        position: fixed;
    }

    #lien_texte, header .btn{
        display: none;
    }

    #mobile_dropdown, .btn-group{
        display: block;
        margin-right: 0.5em;
        width: auto;
    }

    #recherche {
        margin-right: 0.1em;
    }

    #barre_recherche {
        width: 7.5em;
    }

  

    section{
        width: 95vw;
        flex-direction: column;
        margin: auto;
        margin-bottom: 0.5em;
    }
    
    section h1 {
        margin-top:13vh;
    }
    
    #commande {
        width: 100%;
        flex-direction: column;
    }
  
    
    table{
        margin: 0.5em 0em;
    } 
    
    form{
        order: 1;
    }

    footer {
        align-items: baseline;
    }
    
    
    footer h3 {
        margin-top: 2em;
        font-size: 1.3rem;
        padding-bottom: 3%;
    }
    
    footer img {
        display: none;
    }
    
    #img_reseaux img {
        display: initial;
        width: 2em;
        margin: 0.4em;
    }

    body:last-child {
        font-size: 1rem;
    }

}
