@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans+Condensed:300|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family : 'Open Sans';
    background-color: lightgrey;
}



header {
    height: 10vh;
    background-color: #2C333A;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left:0;
    top:0;
    right:0;
}

header .btn {
    color: white;
    height: 100%;
    width: 14em;
    margin: 0em 1em;
    font-size: 10pt;
}

header p {
    font-size: 20pt;
    display:inline;
    font-family: 'Major mono display';
    color: white;
    font-weight: bold;
}

#un  {
    font-weight: 100;
}

#titre {
    position: absolute;
    right: 76vw;
    align-self: center;
    margin: 0px;
}


header #logoImg {
    height: 8vh;
    align-self: center;
    position:  absolute;
    right: 95vw;
    order: -2;
}

header input{
    color: #2C333A;
    align-self: center;
    order: 1;
}

.form-control {
    height: 5vh;
    width : 20vw;
    font-size: 10pt;
}

#recherche {
    order: 2;
    height: 6vh;
    align-self: center;
}

.btn {
    background-color: #2C333A;
    border: #2C333A;
}

.btn:hover{
    background-color: #F48FB1;
}


#accueil{
    height: 100vh;
    background-image: url("code.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil p{
    font-weight: bold;
    color: white;
    font-size: 40pt;
}

#accueil img{
    height: 30vh;
}


footer {
	background-color : #3C4147;
	margin: auto;

}