body {
    background-color: pink;
}

header {
    height: 10vh;
    background-color: #2C333A;
    display: flex;
    justify-content: flex-end;
}

header button {
    color: white;
    height: 100%;
    width: 14em;
    margin: 0em 1em;
    
}


header img {
    height: 8vh;
    align-self: center;
    position:  absolute;
    right: 95vw;
    order: -2;
}

header input{
    color: #2C333A;
    align-self: center;
    order: -1;
    width: 2em;
    flex: 1;
}



.btn {
    background-color: #2C333A;
    border: #2C333A;
}

.btn:hover{
    background-color: #F48FB1;
}