@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans+Condensed:300|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* SOURCES
TRANSITIONS : https://robots.thoughtbot.com/transitions-and-transforms
DOCUMENTATION BOOTSTRAP/CSS : https://devdocs.io
*/

body {
    font-family : 'Open Sans';
    background-attachment: fixed;
    background: -moz-linear-gradient(-45deg, rgba(26,38,39,0.92) 0%, rgba(26,38,39,0.92) 1%, rgba(26,38,39,0.95) 99%, rgba(26,38,39,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(26,38,39,0.92) 0%,rgba(26,38,39,0.92) 1%,rgba(26,38,39,0.95) 99%,rgba(26,38,39,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(26,38,39,0.92) 0%,rgba(26,38,39,0.92) 1%,rgba(26,38,39,0.95) 99%,rgba(26,38,39,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1a2627', endColorstr='#f21a2627',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



header {
    height: 10vh;
    background-color: #2C333A;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index: 50; /* Un peu abusé, mais je m'assure que le header passe devant tout, cf le problème de png */
}

header .btn {
    color: white;
    height: 100%;
    width: 10vw;
    /*min-width: 11em; /* à adapter pour le responsive */
    padding: 0em 0.7em;
    margin: 0em 1em;
    font-size: 10pt;
}


header p {
    font-size: 20pt;
    display:inline;
    font-family: 'Major mono display';
    color: white;
    font-weight: bold;
}

header a{
    display : inline;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

#un  {
    font-weight: 100;
}

/* fusionner en un lien sur le div! */
#lien_texte {
    align-self: center;
    margin-left: 1em;
}


#logoImg {
    height: 8vh;
}

#lienImg{
    align-self: center;
    margin-left: 0.7em;
}

#left_flex_container{
    align-self: center;
    margin-right: auto;
    display:flex;
}

header input{
    color: #2C333A;
    align-self: center;
    order: 1;
}

.form-control {
    height: 5vh;
    width : 20vw;
    font-size: 10pt;
    transition: all 2s ease-in-out;
}

.form-control:focus{
    width: 150%;
}

#recherche {
    order: 2;
    height: 6vh;
    align-self: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#recherche:hover{
    height: 8vh;
}

.btn {
    background-color: #2C333A;
    border: #2C333A;
    outline: none;
}

.btn:hover,
.btn:focus,
.btn::-moz-focus-inner,
.btn:focus {
    background-color: #F48FB1;
    outline: none;
    border: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.btn:hover{
    background-color: #F48FB1;
}

.btn-group {
    display: none;
}


#accueil{
    height: 100vh;
    background: url("code.jpg") fixed no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil p{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 40pt;
}

#accueil img{
    height: 30vh;
    transition: all 1s ease-in-out;
}

#accueil img:hover { 
    transform: scale(1.1); 
    cursor: pointer;
}

#presentation {
    color: white;
    text-align: center;
    padding: 7em 11em;
}

#presentation h2 {
    font-weight: bold;
}

#imageDev{
    height: 50%;
}

#mobile_promos {
    display: none;
}

.carousel-item{
    /*border-top: 2px dotted grey; */
    height: 90vh;
}

.carousel-caption h2 {
    font-style: italic;
    font-weight: bold;
    color: white;
}

.carousel-caption {
    background-color: rgba(244, 143, 177, 0.60); /* hex to rgba converter utilisé : http://hex2rgba.devoth.com/ */
    border-radius: 80px;
    opacity: 50%;
    padding: 0.5em 1em;
    width: auto;
    margin-left: 9vw;
    margin-right: 9vw;
}

footer {
    border-top: 1px dotted grey;
    color: grey;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    text-align: center;
	background-color :rgb(22, 28, 31);
    border-bottom: 1px dotted grey;
}

footer > div {
    width: 33%;
}

footer p span{
    font-weight: bold;
}

footer h3 {
    font-weight: bold;
    padding-bottom: 3%;
}

footer img {
    width: 65%;
    align-self: center;
}

#img_reseaux img {
    width: 3em;
    margin: 1em;
}

body:last-child {
    text-align: center;
    color : lightgray;
    
}


@media (max-width: 630px){
    body{
        width: 100vw;
    }
    header {
        position: fixed;
    }

    #lien_texte, header .btn{
        display: none;
    }

    #mobile_dropdown, .btn-group{
        display: block;
        margin-right: 0.5em;
        width: auto;
    }

    #recherche {
        margin-right: 0.1em;
    }

    #barre_recherche {
        width: 7.5em;
    }

    #accueil p {
        font-size: 2rem;
    }

    #presentation {
        width: 100vw;
        color: white;
        text-align: center;
        padding: 4em 0em;
    }

    #presentation p {
        width: 100vw;
        padding: 0em 1.5em;
        font-size: 1.1rem;
    }
    
    #presentation h2 {
        font-weight: bold;
        margin-bottom: 1em;
    }
    
    #imageDev{
        /*display: none;*/
        height: 30%;
    }

    #mobile_promos {
        display: block;
        width: 100%;
        background-color: rgba(244, 143, 177, 0.30);
        margin-bottom: 0px;
        padding: 0.5em 0em;
    }
    
    .carousel-item{
        height: 30vh;
    }

    .carousel-caption h2 {
        display: none;
    }

    .carousel-caption {
        display: none;
    }

    footer {
        align-items: baseline;
    }
    
    
    footer h3 {
        margin-top: 2em;
        font-size: 1.3rem;
        padding-bottom: 3%;
    }
    
    footer img {
        display: none;
    }
    
    #img_reseaux img {
        display: initial;
        width: 2em;
        margin: 0.4em;
    }

    body:last-child {
        font-size: 1rem;
    }

}